<%= form_with(model: [diary, work], local: true) do |form| %>

  <div class="pb-2">
    <label class="font-weight-bold">日付</label>
    <div class="ml-2"><%= diary.date %></div>
  </div>

  <div class="pb-2">  
    <label class="font-weight-bold">カテゴリ</label>
    <div class="ml-2">
      <%= form.collection_select(:category_id, categories, :id, :name) %>
      <%= link_to "＋カテゴリ追加", new_category_path(diary_id: diary.id), class:"btn btn-dark btn-sm" %>
    </div>
  </div>
  
  <div class="pb-2">  
    <label class="font-weight-bold">作業名</label>
    <div class="ml-2"><%= form.text_field :title %></div>
  </div>
  
  <div class="pb-2">  
    <label class="font-weight-bold">作業内容</label>
    <% if form.object.persisted? %>
      <div><%= form.text_area :body, size: "30x5" %></div>
    <% else %>
      <div class="ml-2">
        <%= collection_select(:template, :name, templates, :id, :name, {:prompt => "↓Chose Template↓"},{class: 'ChoseTemplate', :onchange => "changeTemplate($(this).val())"}) %>
        <%= link_to "＋テンプレート追加", new_template_path(diary_id: diary.id), class:"btn btn-dark btn-sm" %>
        <div><%= render 'work_body', form: form %></div>
      </div>
    <% end %>
  </div>

  <div class="pb-2">
    <label class="font-weight-bold">写真</label>
    <div><%= form.text_field :picture %></div>
  </div>

  <div>
    <% if form.object.persisted? %>
      <div class="ml-2"><%= form.submit '更新', class:"btn btn-dark" %></div>
    <% else %>
      <div class="ml-2"><%= form.submit '登録', class:"btn btn-dark" %></div>
    <% end %>
  </div>
  
<% end %>