<%= form_with(model: [diary, work], local: true) do |form| %>

  <label>日付</label>
  <div><%= diary.date %></div>
  
  <label>カテゴリ</label>
  <div><%= form.text_field :category %></div>
  
  <label>内容</label>
  <div><%= form.text_field :title %></div>  

  <label>詳細</label>
  <div id="ChoseTemplate">
    
      <%= collection_select(:template, :name, templates, :id, :name, {:include_blank => true},{class: 'ChoseTemplate', :onchange => "changeTemplate($(this).val())"}) %>
      
      <%=  %>
      
      <%#= button_to "Click", templates_get_body_path, method: :get %>
      <%#= button_to "Click", templates_get_body_path %>
      

  </div>
  
    <%= link_to "挿入", templates_get_body_path(template), remote: true %>
    <%= link_to "新規テンプレート追加", new_template_path(diary) %>

    <div id="WorkBody">    
      <%= render 'work_body', form: form %>
    </div>
  </div>
  
  <label>写真</label>
  <div><%= form.text_field :picture %></div> 
  
  <div><%= form.submit '登録' %></div>
  
<% end %>

<!--onchangeメソッド-->
<script>
function changeTemplate(val){
  // var template_id = $('ChoseTemplate').val();
  var template_id = val;
  
  // alert(template_id)
  
  // var select = document.getElementById('template_id');
  // var options = document.getElementById('template_id').options;
  // var value = options.item(select.selectedIndex).value;
  // var template_id = value
  
  $.ajax({
    url: "/templates/get_body",
    type: "GET",
    data: {
      template_id: template_id
    }
  })
}
</script>
