<h1><%= @diary.date %>のダイアリー</h1>

<div class="navigation-space">
  <hr>
  <hr>
</div>

<div>
  <%= @diary.body %>
</div>

<br>

<table>
  <tr>
    <td>カテゴリ</td>
    <td>内容</td>
    <td>詳細</td>
    <td>画像</td>
    <td></td>
    <td></td>
    <td>メモ</td>
  </tr>
  <% @diary.works.each do |work| %>
    <tr>
      <td><%= work.category %></td>
      <td><%= work.title %></td>
      <td><%= work.body %></td>
      <td><%= work.image %></td>
      <td><%= link_to "edit", edit_diary_work_path(@diary, work) %></td>
      <td><%= link_to "delete", diary_work_path(@diary, work), method: :delete, data: {confirm: "このワークを消して大丈夫？"} %></td>
      <% if work.memo.present? %>
        <td><%= work.memo&.body %></td>
        <td><%= link_to "edit", edit_work_memo_path(work) %></td>
        <td><%= link_to "delete", work_memo_path(work), method: :delete, data: {confirm: "このメモを消して大丈夫？"} %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>

<div>
  <span><%= link_to "edit", edit_diary_path(@diary) %></span>
  <span><%= link_to "delete", diary_path(@diary), method: :delete, data: { confirm: "このダイアリーを消して大丈夫？" } %></span>
</div>