<h2>ログイン</h2>

<div>
  <hr>
  ・日記とやった作業を記録するためのアプリです。<br>
  ・下記サンプルアカウントでログインして使ってみてください。<br>
  ・もしくは好きなメールアドレス（ダミーOK）とパスワードでアカウント作成してログインもできます。メールは届きません。<br><br>
  サンプルアカウント<br>
  【Email: test@test.com】<br>
  【Password: testtest】
  <hr>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: "test@test.com" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", value: "testtest" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-dark" %>
    <%= link_to "ユーザー登録を行う", new_registration_path(resource_name), class:"btn btn-dark" %>
  </div>
<% end %>

