<%= form_with(model: category, local: true) do |form| %>
  
  <div class="pb-2">
    <label class="font-weight-bold">カテゴリー名</label>
    <div><%= form.text_field :name %></div>
  </div>
  
  <% if form.object.persisted? %>
    <div class="mx-2" tyle="overflow: hidden;">
      <div style="float: left;"><%= form.submit '更新', class:"btn btn-dark" %></div>
      <div class="text-right"><%= link_to "カテゴリ一覧に戻る", categories_path, class:"btn btn-dark" %></div>
    </div>
  <% else %>
    <div class="mx-2" tyle="overflow: hidden;">
      <div style="float: left;"><%= form.submit '登録', class:"btn btn-dark" %></div>
      <%# work入力画面からのカテゴリ登録か設定画面からのカテゴリ登録かで分岐　works/newではdiary_idに値が入っている %>
      <% if diary_id.present? %>
        <div class="text-right"><%= link_to "ワーク入力に戻る", new_diary_work_path(diary_id), class:"btn btn-dark" %></div>
      <% else %>
        <div class="text-right"><%= link_to "カテゴリ一覧に戻る", categories_path, class:"btn btn-dark" %></div>
      <% end %>
    </div>
  <% end %>

<% end %>