<div class="pb-2">
  <label class="font-weight-bold">日付</label>
  <div class="ml-2"><%= work.diary.date %></div>
</div>
  
<div class="pb-2">
  <label class="font-weight-bold">ワーク</label>
  <div>
    <span><i class="fa fa-tag mx-1"></i><%= work.category&.name %></span>
    <span><i class="fa fa-briefcase mx-1"></i><%= work.title %></span>
    <p><i class="fa fa-clipboard mx-1"></i><%= work.body %></p>
  </div>
</div>
  
<div>
  <%= form_with(model: [work, memo], url: work_memo_path, local: true) do |form| %>
    <div><%= form.text_area :body %></div>
    <% if form.object.persisted? %>
      <div><%= form.submit '更新'  %></div>
    <% else %>
      <div><%= form.submit '登録'  %></div>
    <% end %>
  <% end %>
</div>