<!DOCTYPE html>
<html>
  <head>
    <title>Workdiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= link_to "ダイアリーを作る", new_diary_path %>
      <hr>
    </div>
    
    <%= yield %>
    
    <div class="footer">
      <hr>
        <%= link_to "日誌", diaries_path %>
        カテゴリ
        検索
        <%= link_to "編集", settings_path %>
        アカウント
    </div>
  </body>
</html>
